* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
  }
  
  .modalizin {
    font-size: x-large;
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  hr {
    border: 0px;
    border-top: 1px solid lightgray;
  }
  
  .modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 25%;
  }
  
  .active {
    display: flex;
  }
  
  span {
    margin: 10px auto;
  }
  
  .botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .botoes button {
    font-size: medium;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .btsim {
   background-color: rgb(15, 4, 106);
  }
  
  .btnao {
    background-color: brown;
   }
     
  
  
  