body {

    background-color: black;
}

.drop_menu ul {

    list-style-type: none;
    padding: 0;
}

.drop_menu ul {

    background-color: rgb(247, 245, 245);

}

.drop_menu ul li {

    display: inline;
    position: relative;



}

.drop_menu ul li a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;


}

.drop_menu ul li a:hover {

    background-color: orangered;
}


.drop_menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.drop_menu ul li:hover ul {

    display: block;

}

.drop_menu ul ul {
    width: 150px;
}

.drop_menu ul ul li {
    display: block;
}